/myproject/log/
/myproject/static/
/.venv/
/myproject/myproject/__pycache__/
myproject/db.sqlite3
myproject/media/
myproject/myproject/
myproject/recipes_app/__pycache__/
myproject/recipes_app/migrations/

/recipes_app/static/
/log/
/myproject/__pycache__/
/recipes_app/__pycache__/
*.log
*.pot
*.pyc
__pycache__/
/about_app/__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
recipes_app/static
*.sqlite3
/recipes_app/media/
/static/


.idea
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.py[cod]
*$py.class


/static
/media
/db.sqlite3
/venv
.vscode

/config/*.py  # Пример
/config/settings/local.py
/logs
/__pycache__
/*.log
