body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9edd2a6;
    max-width: 100%;
}

header {
    background-color: #131417;
    padding: 20px;
    text-align:right;
}

h1.title {
    margin: 0;
    color:#fff;
}

.title {
    background-color: #444857;
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2vw;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px #572a2a;
    text-shadow: 0px 3px 10px #000;
    -webkit-transition: all 0.5s ease;
}

.title_h2 {
    font-size: 2vw;
    color: #2465b9;
    margin-bottom: 20px;
    padding: 10px;
    letter-spacing: 30px;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
    font-weight: bold;
}

.top_recipe {
    padding: 0;
}

.recipe {
    background-color: #fff;
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #572a2a;
    margin: 3%;
}

.recipe:hover {
    background-color: #a32f2f;
    color: #e6dada;
    box-shadow: 0px 0px 30px #2bff00;
    -webkit-transition: all 0.5s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.recipe_text {
    margin: 10%;
    background-color: #f2ecec;
    color: #253237;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #572a2a;
    width: 30%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    order: 1;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.recipe_text:hover {
    background-color: #a32f2f;
    color: #e6dada;
    box-shadow: 0px 0px 30px #2bff00;
    outline: 2px solid transparent;
    outline-offset: -2px;
    cursor: pointer;
}

.recipe_image {
    width: 50%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
    padding: 5px;
}

.category_title_name {
    display: flex;
    font-size: 2vw;
    color: #333;
    color: #630c0c;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 50px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
}

.recipe_text_category {
    letter-spacing : 10px;
    color: #1f7085;
    text-shadow: 1px 1px 1px #333;
    font-size: 2vw;
}

.title_text_name {
    font-size: 3vw;
    color: #bd7979;
    text-shadow: 1px 1px 1px #333;
}

.recipe_show {
    display: flex;
    flex-direction: column;
}

.step_title {
    margin-top: 20px;
    font-size: 2vw;
}

.recipe_image {
    margin-bottom: 40px;
    display: block;
    margin: 0 auto;
    max-width: 35%;
}

@media (max-width: 768px) {
    .recipe_image {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .recipe_show {
        flex-direction: row;
        align-items: center;
    }

    .step_recipe {
        flex: 1;
        margin-right: 20px;
    }
}



.step {
    background-color: #fff;
    color:#03071f;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-size: 1vw;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #572a2a;
    margin: 3%;
    text-align: justify;
    text-align-last: left;
}

.step_recipe {
    text-align: justify;
    text-align-last: left;
}

h3 {
    font-size: 1.5vw;
    color: #333;
}

.recipe_text {
    font-size: 200%;
    letter-spacing : 1px;
    text-shadow: 1px 1px 1px #092345;
    color: #4d5de9;
}

nav {
    margin-top: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    letter-spacing: 2px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.5vw;
}

nav a:hover {
    background-color: #27486a;
    color: #e5edee;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #2bff00;
    -webkit-transition: all 0.5s ease;
    box-sizing: border-box;
    cursor: pointer;
}

nav a:visited {
    color: #f2eded;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a.footer {
    color: #fff;
}

a.footer_up {
    color: #fff;
    background: #276a6a;
    border-radius: 3px;
}

a.footer_up:hover {
    color: #fff;
    background: #276a6a;
    box-shadow: 5px 5px 5px #2bff00;
    }